<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  RewriteRule ^media/(.*)$ https://backend.decodexe.com/media/$1 [R=301,L]
  RewriteRule ^api/(.*)$ https://backend.decodexe.com/api/$1 [R=301,L]
  RewriteRule ^index\.html$ - [L]
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule . /index.html [L]
</IfModule>
